<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.github.wakhub.tinyclock"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/preview"
        android:label="@string/app_name">

        <receiver android:name=".TinyClockAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info"/>
        </receiver>
        <service android:name=".UpdateService"/>
        <activity android:name=".SettingsActivity"/>
    </application>

</manifest>
